{% extends 'main.html' %}
{% block content %}

<table>
    <tr>
        <th>Title</th>
        <th>Tags</th>
        <th>Vote total</th>
        <th>Created</th>
        <th>Details</th>
    </tr>
    {% for i in project_list %}
    <tr>
        <td>{{i.title}}</td>
        <td>
            {% for tag in i.tags.all %}
                <span style="border:1px solid grey">{{tag}}</span>
            {% endfor %}
        </td>
        <td>{{i.vote_total}}</td>
        <td>{{i.created}}</td>
        <td><a href="project/{{i.id}}">View</a></td>
        <td><a href="{% url 'update_a_project' i.id %}">Update</a></td>
        <td><a href="{% url 'delete-project' i.id %}">Delete</a></td>
    </tr>

    {% endfor %}
</table>


{% endblock content %}